<% layout('layout/boilerplate.ejs') %>
    <!-- <%- include('partials/navbar.ejs') %> -->
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/1a8059b87f.js" crossorigin="anonymous"></script>
    <div class="text-center">
        <h1>login / logout</h1>
        <p>see login signup pages by clicking on top right corner of navigation bar .</p>

    </div>